<!DOCTYPE html>
<html ng-app="examExercise">
<head lang="en">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="vendor/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="vendor/angular.js"></script>
  <script src="app.js"></script>
  <title></title>
</head>
<body ng-controller="examController">

<h2>{{msg}}</h2>
<p>Insert your Angular Table here</p>
    <p>{{data}}</p>
    <p>{{data[2]}}</p>
    <table class="table">
        <thead>
            <th ng-repeat="">

            </th>
        </thead>
        <tbody>
            <tr ng-repeat="person in data">
                <td ng-repeat="att in person" ng-show="att!=='friends'">{{att}}</td>
            </tr>
        </tbody>
    </table>
<a href="/">Back</a>

</body>
</html>